.App {
  font-family: sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: aquamarine;
  height: 100vh;
  width: 100vw;
  padding-top: 50px;
}

.container {
  border: 2px solid black;
  height: 40vh;
  width: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: cornsilk;
  margin-left: 500px;
  margin-top: 100px;
  box-shadow: 10px 10px 5px black;
}

.input {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input > label {
  width: 10vw;
}

.input > input {
  padding: 5px;
}

.input > button {
  background-color: greenyellow;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
}

.input > button:hover {
  background-color: lightcoral;
  color: black;
}
